<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="SMTPuser" value="email_address"/>
    <add key ="SMTPpassword" value="email_password"/>
    <add key ="Port" value="587"/>
    <add key ="EmailPort" value="25"/>
    <add key ="Host" value="smtp.gmail.com"/>
    <add key ="EnableSSL" value="true"/>
  </appSettings>
</configuration>